.container {
  background-image: linear-gradient(#fc63a7, #fa7257);
  background-size: auto;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-size: 35px;
}
.btn-container {
  display: flex;
  width: 600px;
  justify-content: space-between;
}
.btn {
  background-color: #ffffff;
  color: #dd1264;
  padding: 4px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
}
.card {
  padding: 10px;
  background-color: #ffffff;
}
.name {
  color: black;
  text-align: center;
}
@media screen (min-width: 590px) {
}
